body {
    background-color: white;
    font-family: sans-serif;
    text-align: center;
}

header {
    display: block;
    margin-bottom: 50px;
}

img {
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
}

.kontak {
    margin-bottom: 50px;
}

.btnt {
    background: #424242;
    border: 1px solid #dfe1e5;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height:normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    width: 400px;
}

.btnw {
    background: #424242;
    border: 1px solid #dfe1e5;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height:normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 400px;
}

.btnk {
    background: #424242;
    border: 1px solid #dfe1e5;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height:normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 400px;
}

.btns {
    background: #424242;
    border: 1px solid #dfe1e5;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height:normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 400px;
}

.btnm {
    background: #424242;
    border: 1px solid #dfe1e5;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height:normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 400px;
}

.medsos {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.medsos-icon {
    margin-left: 20px;
    margin-right: 20px;
}